.home__hero-section {
    color: #fff;
    padding: 160px 0;
    position: relative;
  }
  
  .home__hero-row {
    align-items: center;
  }
  
  .container {
    position: relative;
  }

  .row {
    display: flex;
    margin-right: -15px;
    margin-bottom: -15px;
    margin-left: -15px;
    flex-wrap: wrap;
    align-content: stretch;
  }
  
  .col {
    margin-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
    flex: 1;
    max-width: 50%;
    flex-basis: 50%;
  }
  
  .home__hero-text-wrapper {
    max-width: 540px;
    padding-top: 0;
    padding-bottom: 60px;
  }
  
  .heading {
    margin-bottom: 24px;
    font-size: 48px;
    line-height: 1.1;
    font-weight: 600;
    color: #f7f8fa;
  }
  
  
  .darkBg {
    background-color: #0175a7;
  }

  .hero-shape
  {
      position: absolute;
      top: 0;
      right: 0;
      width: 50%;
      height: 100%;
  }
  .hero-shape::before
  {
      position: absolute;
      content: '';
      width: 1000%;
      height: 100%;
      background-color: #00577C;
      transform: skewX(-65deg);
      top: 0;
      left: 0;
  }
  
  .home__hero-subtitle {
    max-width: 440px;
    margin-bottom: 35px;
    font-size: 18px;
    line-height: 24px;
  }
  
  .home__hero-img-wrapper {
    max-width: 555px;
  }
  
  .home__hero-img {
    /* width: 100%; */
    z-index: 789;
    position: relative;
  }
  
  img {
    border: 0;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
  }
  
  @media screen and (max-width: 991px) {
    .container {
      padding-right: 30px;
      padding-left: 30px;
    }
    .hero-shape {
      display: none;
    }
  }
  
  @media screen and (max-width: 768px) {
    .home__hero-text-wrapper {
      padding-bottom: 65px;
    }
  
    .col {
      max-width: 100%;
      flex-basis: 100%;
    }
  }
